name: Formatting, linting, and testing

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install black pytest
        python -m pip install -r requirements.txt --upgrade
        python -m pip install -e .
    - name: Run ruff
      uses: chartboost/ruff-action@v1
    - name: Run black
      run: black --check --verbose --diff ./idsprites
    - name: Run pytest
      run: python -m pytest ./tests